.leftbodycontent {
  overflow: auto;
  overflow-x: hidden;
  /* position: relative; */
  background-color: #0a66c2;
}
.Leftbodyheader {
  z-index: 200;
  position: sticky;
  padding: 4px 0px 4px 8px;

  top: 0;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-height: 300px;
}
.left-body-content {
  display: flex;
  align-items: center;
}
.watchlist {
  max-height: 250px;

  overflow: auto;
}
.watchlistinput {
  position: sticky;
  bottom: 0;
  background-color: #f0f9ff;
  width: 100%;
  padding: 8px;
  padding-left: 0;

  /* overflow: hidden; */
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition-duration: 220ms;
}
.watchlistinput:hover,
.watch-lst-data:hover {
  background-color: #e0f2fe;
}
.createwatchlisttitle {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #475569;
}
.IconColors {
  height: 18px !important;
  width: 18px !important;
  color: #0284c7;
}
.takeinput {
  display: block;
  outline: none;
  padding: 8px;
  width: 100%;
}
.closeinput {
  height: 18px !important;
  width: 18px !important;
  color: #52525b;
}
.closeicon {
  /* padding-right: 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 220ms;
}

.closeicon:hover {
  background-color: #fee2e2;
  border-radius: 50%;
}
.closeinput:hover {
  color: #404040;
}
.menuitms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watchlsticons {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.Dlticons {
  width: 18px !important;
  height: 18px !important;
  margin-left: 6px;
  color: #ef4444;
  transition-duration: 500ms;
}
.Dlticons:hover {
  color: #b91c1c;
}
.editicons {
  width: 18px !important;
  height: 18px !important;
  margin-left: 6px;
}
.editicons:hover {
  color: #84cc16;
}
.emptywatchlst {
  height: 200px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background-color: #404040; */
  width: 100%;
  margin: auto;
}
.Emptyimgcontainer {
  margin: 0px auto;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emptyimg {
  display: block;
  object-fit: contain;
  height: 150px;
  width: 150px;
}
.emptytagline {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}
.watclistinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  padding: 6px 6px 6px 6px;
  border: 1px solid white;
  transition-duration: 250ms;
}
.watclistinput:hover {
  /* border-color: #0284c7; */
  box-shadow: inset 0 0 0 1px #0a66c2;
  cursor: pointer;
}
.drop-down-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #475569;
}
.list-itms {
  margin-left: 10px;
  background-color: #404040;
  width: 90%;
}

.watch-lst-data {
  /* background-color: white; */
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition-duration: 250ms;
}
.wish-lst-bottom {
  padding-top: 8px;
  position: absolute;
  top: 100px;
  width: 270px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 150;
  left: 20px;
}
.LeftBody {
  background-color: #0a66c2;
}
#Activeclass {
  box-shadow: inset 0 0 0 1px #0a66c2;
}
